info:
  title: SamePage
  description: A protocol enabling cross-application collaboration through
    syncing, querying, and more.
  version: v1
servers:
  - url: https://api.samepage.network
openapi: 3.0.1
components:
  schemas:
    notebooksResponse:
      type: object
      properties:
        notebooks:
          type: array
          items:
            type: object
            properties:
              uuid:
                type: string
                description: The notebook's UUID
              workspace:
                type: string
                description: The name of the workspace this notebook represents.
              appName:
                type: string
                description: The name of the application this notebook is a part of.
              email:
                type: string
                description: The email address of the user who owns this notebook.
            required:
              - uuid
              - workspace
              - appName
              - email
          description: Notebooks this account has access to.
      required:
        - notebooks
    pageResponse:
      type: object
      properties:
        data:
          anyOf:
            - type: object
              properties:
                content:
                  type: string
                annotations:
                  type: array
                  items:
                    oneOf:
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              level:
                                type: number
                              viewType:
                                type: string
                                enum:
                                  - bullet
                                  - numbered
                                  - document
                            required:
                              - level
                              - viewType
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - block
                        required:
                          - start
                          - end
                          - attributes
                          - type
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              title:
                                type: string
                              parent:
                                type: string
                            required:
                              - title
                              - parent
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - metadata
                        required:
                          - start
                          - end
                          - attributes
                          - type
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              open:
                                type: boolean
                              delimiter:
                                type: string
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - bold
                        required:
                          - start
                          - end
                          - type
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              open:
                                type: boolean
                              delimiter:
                                type: string
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - italics
                        required:
                          - start
                          - end
                          - type
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              open:
                                type: boolean
                              delimiter:
                                type: string
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - strikethrough
                        required:
                          - start
                          - end
                          - type
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              open:
                                type: boolean
                              delimiter:
                                type: string
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - highlighting
                        required:
                          - start
                          - end
                          - type
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              open:
                                type: boolean
                              delimiter:
                                type: string
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - inline
                        required:
                          - start
                          - end
                          - type
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              href:
                                type: string
                            required:
                              - href
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - link
                        required:
                          - start
                          - end
                          - attributes
                          - type
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              notebookPageId:
                                type: string
                              notebookUuid:
                                type: string
                            required:
                              - notebookPageId
                              - notebookUuid
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - reference
                        required:
                          - start
                          - end
                          - attributes
                          - type
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              src:
                                type: string
                            required:
                              - src
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - image
                        required:
                          - start
                          - end
                          - attributes
                          - type
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              name:
                                type: string
                            required:
                              - name
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - custom
                        required:
                          - start
                          - end
                          - attributes
                          - type
                      - type: object
                        properties:
                          start:
                            type: number
                          end:
                            type: number
                          attributes:
                            type: object
                            properties:
                              language:
                                type: string
                              ticks:
                                type: number
                            required:
                              - language
                          appAttributes:
                            type: object
                            additionalProperties:
                              type: object
                              additionalProperties:
                                type: string
                          type:
                            type: string
                            enum:
                              - code
                        required:
                          - start
                          - end
                          - attributes
                          - type
              required:
                - content
                - annotations
            - type: "null"
              description: The request has been sent to the notebook and we are now waiting
                for the notebook to accept or reject the request.
            - type: string
              enum:
                - pending
              description: We are still waiting for the notebook to respond to this request
                for data.
            - type: string
              enum:
                - rejected
              description: The notebook has rejected this request for data.
            - nullable: true
      required:
        - data
    queryResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              notebookUuid:
                type: string
              results:
                anyOf:
                  - type: array
                    items:
                      type: object
                      additionalProperties:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                  - type: "null"
                    description: The request has been sent to the notebook and we are now waiting
                      for the notebook to accept or reject the request.
                  - type: string
                    enum:
                      - pending
                    description: We are still waiting for the notebook to respond to this request
                      for data.
                  - type: string
                    enum:
                      - rejected
                    description: The notebook has rejected this request for data.
                  - nullable: true
            required:
              - notebookUuid
              - results
      required:
        - data
  parameters: {}
paths:
  /extensions/openai/notebooks:
    post:
      operationId: notebooks
      summary: null
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        "200":
          description: Page data in the SamePage AtJson format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notebooksResponse"
  /extensions/openai/page:
    post:
      operationId: page
      summary: Get the content from a single page
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notebookUuid:
                  type: string
                  description: The application to request
                notebookPageId:
                  type: string
                  description: The page from the application to request
              required:
                - notebookUuid
                - notebookPageId
              description: The application and the page from the application to request
      responses:
        "200":
          description: Page data in the SamePage AtJson format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pageResponse"
  /extensions/openai/query:
    post:
      operationId: query
      summary: Fetch data shared to the SamePage Network
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                targets:
                  type: array
                  items:
                    type: string
                  description: The notebook ids this query should target.
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      source:
                        type: string
                        description: The source of the relation
                      target:
                        type: string
                        description: The target of the relation
                      relation:
                        type: string
                        description: The relationship of the condition
                    required:
                      - source
                      - target
                      - relation
                  description: The conditions that muse be met to satisfy the query
                label:
                  type: string
                  description: The human-readable label to assign to this query
              required:
                - targets
                - conditions
                - label
      responses:
        "200":
          description: The data shared to the SamePage Network
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/queryResponse"
